<strong>Olá, {{deliveryman}}!</strong>
<p>Uma encomenda em que você estava atrelado(a) foi cancelada no sistema:</p>
<p>
  <strong>ID do Entrega: </strong>{{order_id}}
  <strong>Encomenda: </strong>{{product}}
  <br /> <br />
  <strong>Destinatário: </strong>{{recipient}} <br />
  <strong>Rua: </strong>{{street}}<br />
  <strong>Numero: </strong>{{number}}<br />
  <strong>Complemento: </strong>{{complement}}<br />
  <strong>Estado: </strong>{{state}}<br />
  <strong>Cidade: </strong>{{city}}<br />
  <strong>CEP: </strong>{{cep}}
  <br /> <br />
  <strong>Motivo: </strong> {{description}} <br />
</p>
