<strong>Olá, {{deliveryman}}!</strong>
<p>Uma encomenda foi cadastrada no sistema, e você já pode realizar a coleta da mesma</p>
<p>
  <strong>ID do pedido: </strong>{{order_id}}
  <strong>Encomenda: </strong>{{product}}
  <br /> <br />
  <strong>Destinatário: </strong>{{recipient}} <br />
  <strong>Rua: </strong>{{street}}<br />
  <strong>Numero: </strong>{{number}}<br />
  <strong>Complemento: </strong>{{complement}}<br />
  <strong>Estado: </strong>{{state}}<br />
  <strong>Cidade: </strong>{{city}}<br />
  <strong>CEP: </strong>{{cep}}<br />
</p>
